body {
    margin: 0px;
}

.header,
.hero,
.info, 
.quote,
.footer {
    font-family: sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.header,
.hero,
.footer { background-color: #1F2937; }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    /* padding-left: 40px; */
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    padding-left: 40px;
    /* padding-right: 40px; */
    display: flex;
    gap: 24px;
}

a,
.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    /* this removes the line under the links */
    text-decoration: none;

}

.hero {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 34px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    /* 800 is considered extra bold */
    font-weight: 800;
}

.hero-sign-up-button button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border: none;
    padding: 5px 24px; 
    border-radius: 8px;
}

.hero .image img {
    max-width: 400px;
}

.info {
    /* center info title and contents */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


figcaption {
    color: #1F2937;
    font-size: 12px;
    text-align: center;
    /* make the figcaption only as wide as the image */
    max-width: 150px;
}

.info .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 50px;
}

.info .images {
    /* allow images to be arranged horizontally */
    display: flex;
    gap: 50px;
}

.info .image {
    /* center the image and figcaption */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .image img {
    max-width: 150px;
    border-radius: 10px;
    /* add blue border around images */
    border: 3px solid #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote blockquote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote p {
    align-self: flex-end;
    margin: 40px;
    font-size: 20px;
    font-weight: 700;
}

.sign-up-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 50px 100px;
    border-radius: 10px;
}

.sign-up .text {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.sign-up .text .call-to-action {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
}

.sign-up .text .sign-up-text {
    color: #E5E7EB;
    font-size: 15px;
}

.sign-up .sign-up-box button {
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    border-style: solid;
    border-color: #F9FAF8;
    padding: 5px 24px; 
    border-radius: 8px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright {
    color: #E5E7EB;
}
